:root {
  color: rgba(255, 255, 255, 0.87);
  background: #E0C2FE;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

@font-face {
  font-family: 'Poly';
  font-style: normal;
  font-weight: 400;
  src: url('assets/poly-v17-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Ribeye Marrow';
  font-style: normal;
  font-weight: 400;
  src: url('assets/ribeye-marrow-v24-latin-regular.woff2') format('woff2');
}
